<div class = 'alert alert-block alert-info'> 
    <h3> List Comprehension </h3>
    https://github.com/Asabeneh/30-Days-Of-Python/
</div>

In [3]:
#Change String to list
print("First way")
season = "Winter"
lst = list(season)
print(type(lst))
print(lst)
print()

#Change String to list by List comprehension
print("Second way")
season = "Winter"
lst = [i for i in season]
print(type(lst))
print(lst)

First way
<class 'list'>
['W', 'i', 'n', 't', 'e', 'r']

Second way
<class 'list'>
['W', 'i', 'n', 't', 'e', 'r']

In [5]:
#Create a list of numbers
numbers = [i for i in range(0,10)]
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
#Create list of tuples
numbers = [(i,i*i) for i in range(0,11)]
print(numbers)

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)]

In [7]:
#Combine with if expression
# Generating even numbers 
even_nums = [i for i in range(0,21) if i %2==0]
print(even_nums)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

#### Lambda Function

In [10]:
def add(a,b):
    return a+b

print("Addition function:",add(5,5))

#Using Lambda function 
add_two_nums = lambda a, b: a+b
print("Lambda function:",add_two_nums(2,8))

Addition function: 10
Lambda function: 10

In [14]:
#Self invoking lambda function
add = (lambda a, b: a+b)(2,3)
linear = (lambda a,b,X: a+b*X)(2.5, 3, 10)

print("add",add)
print("linear",linear)

add 5
linear 32.5

In [16]:
def multiple(x,y):
    return lambda n: x**n+y

print(multiple(3,5)(2))

14

<span style=color:green>
    <b> <h3> Exercises </h3> </b>
</span>

1. Filter only negative and zero in the list using list comprehension
```
    numbers = [-4, -3, -2, -1, 0, 2, 4, 6]
```

In [17]:
numbers = [-4, -3, -2, -1, 0, 2, 4, 6]
neg_nums = [i for i in numbers if (i<0)]
print(neg_nums)

[-4, -3, -2, -1]

2. Flatten the following list of lists of lists to a one dimensional list :
```
list_of_lists =[[[1, 2, 3]], [[4, 5, 6]], [[7, 8, 9]]]

output
[1, 2, 3, 4, 5, 6, 7, 8, 9]
```

In [19]:
list_of_lists =[[[1, 2, 3]], [[4, 5, 6]], [[7, 8, 9]]]

flatten = [j for lst in list_of_lists for iLst in lst for j in iLst]
print(flatten)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

3. Using list comprehension create the following list of tuples:
```
[(0, 1, 0, 0, 0, 0, 0),
(1, 1, 1, 1, 1, 1, 1),
(2, 1, 2, 4, 8, 16, 32),
(3, 1, 3, 9, 27, 81, 243),
(4, 1, 4, 16, 64, 256, 1024),
(5, 1, 5, 25, 125, 625, 3125),
(6, 1, 6, 36, 216, 1296, 7776),
(7, 1, 7, 49, 343, 2401, 16807),
(8, 1, 8, 64, 512, 4096, 32768),
(9, 1, 9, 81, 729, 6561, 59049),
(10, 1, 10, 100, 1000, 10000, 100000)]
```

In [27]:
lst_of_tuple = [(i,1,i,i**2,i**3,i**4,i**5) for i in range(0,10)]
print(lst_of_tuple)

[(0, 1, 0, 0, 0, 0, 0), (1, 1, 1, 1, 1, 1, 1), (2, 1, 2, 4, 8, 16, 32), (3, 1, 3, 9, 27, 81, 243), (4, 1, 4, 16, 64, 256, 1024), (5, 1, 5, 25, 125, 625, 3125), (6, 1, 6, 36, 216, 1296, 7776), (7, 1, 7, 49, 343, 2401, 16807), (8, 1, 8, 64, 512, 4096, 32768), (9, 1, 9, 81, 729, 6561, 59049)]

4. Flatten the following list to a new list:

```
countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]
output:
[['FINLAND','FIN', 'HELSINKI'], ['SWEDEN', 'SWE', 'STOCKHOLM'], ['NORWAY', 'NOR', 'OSLO']]
```

In [8]:
countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]

Ncountries = [[country[0].upper(),country[0].upper()[:3],country[1].upper()] for list_countries in countries for country in list_countries]
Ncountries

[['FINLAND', 'FIN', 'HELSINKI'],
 ['SWEDEN', 'SWE', 'STOCKHOLM'],
 ['NORWAY', 'NOR', 'OSLO']]

5. Change the following list to a list of dictionaries:
```
countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]
output:
[{'country': 'FINLAND', 'city': 'HELSINKI'},
{'country': 'SWEDEN', 'city': 'STOCKHOLM'},
{'country': 'NORWAY', 'city': 'OSLO'}]
```

In [9]:
countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]

Ncountries = [{'country':country[0],'city':country[1]} for list_countries in countries for country in list_countries]
Ncountries

[{'country': 'Finland', 'city': 'Helsinki'},
 {'country': 'Sweden', 'city': 'Stockholm'},
 {'country': 'Norway', 'city': 'Oslo'}]

6. Change the following list of lists to a list of concatenated strings:
```
names = [[('Asabeneh', 'Yetayeh')], [('David', 'Smith')], [('Donald', 'Trump')], [('Bill', 'Gates')]]
output
['Asabeneh Yetaeyeh', 'David Smith', 'Donald Trump', 'Bill Gates']
```

In [11]:
names = [[('Asabeneh', 'Yetayeh')], [('David', 'Smith')], [('Donald', 'Trump')], [('Bill', 'Gates')]]

famous_names = [name[0]+ ' '+name[1] for list_of_names in names for name in list_of_names]
famous_names

['Asabeneh Yetayeh', 'David Smith', 'Donald Trump', 'Bill Gates']

<div class = 'alert alert-block alert-info'> 
    <h3> Higher order functions </h3>
    https://github.com/Asabeneh/30-Days-Of-Python/
</div>

<h3> Built-in Higher Order Function </h3>  
  
<b>Map(func, iter):</b> allows to apply a specified function to each element in an iterable (list, tuple, or string)  

```
numbers = [1,2,3,4,5]
list(map(lambda x: x**2, numbers))

output: [1, 4, 9, 16, 25]
```  

**filter(func, iter):** allows to filter elements from an iterable based on a specified condition function
```
numbers = [1,2,3,4,5,6]
list(filter(lambda x: x%2 == 0, numbers))

output: [2,4,6]
```  

**reduce(func, iter):** allows to combine elements in an iterable in an iterable into a single result  
```
from functools import reduce
numbers = [1,2,3,4,5]
reduce(lambda x, y: x*y, numbers

output: 120
```

In [17]:
numbers = [1,2,3,4,5]
list(map(lambda x:x**2, numbers))

number = '1 2 3 4 5'
list(map(int,number.split()))

[1, 2, 3, 4, 5]

In [22]:
numbers = [1,2,3,4,5,6]
numMap = list(map(lambda x: x%2 ==0, numbers))
numFil = list(filter(lambda x: x%2==0, numbers))
print(numMap)
print(numFil)

[False, True, False, True, False, True]
[2, 4, 6]

In [25]:
from functools import reduce
numbers = [1,2,3,4,5,6,7,8,9,10]
reduce(lambda x,y: x*y, numbers)

3628800

<span style = color:green> 
    <h3> Level 1</h3>
</span>

**3. Define a call function before map, filter or reduce, see examples.**

In [8]:
#map example
def square(x):
    return x**2

numbers = [1,2,3,4,5]
squared = list(map(square, numbers))
print(squared)

[1, 4, 9, 16, 25]

In [9]:
#filter example
def is_even(x):
    if x%2 == 0:
        return True
    return False

numbers = [1,2,3,4,5,6]
even_numbers = list(filter(is_even, numbers))
print(even_numbers)

[2, 4, 6]

In [10]:
#reduce example
from functools import reduce

def multiply(x, y):
    return x*y

numbers = [1,2,3,4,5]
multiply_numbers = reduce(multiply, numbers)
print(multiply_numbers)

120

<span style = color:green> 
    <h3> Level 2 </h3>
</span>

**1. Use map to create a new list by changing each country to uppercase in the countries list**

In [35]:
from Data.countries_data import countries

countryName = [country['name'] for country in countries]

In [36]:
def upperCase(st):
    return st.upper()

upperCountry = list(map(upperCase,countryName))
upperCountry

['AFGHANISTAN',
 'ÅLAND ISLANDS',
 'ALBANIA',
 'ALGERIA',
 'AMERICAN SAMOA',
 'ANDORRA',
 'ANGOLA',
 'ANGUILLA',
 'ANTARCTICA',
 'ANTIGUA AND BARBUDA',
 'ARGENTINA',
 'ARMENIA',
 'ARUBA',
 'AUSTRALIA',
 'AUSTRIA',
 'AZERBAIJAN',
 'BAHAMAS',
 'BAHRAIN',
 'BANGLADESH',
 'BARBADOS',
 'BELARUS',
 'BELGIUM',
 'BELIZE',
 'BENIN',
 'BERMUDA',
 'BHUTAN',
 'BOLIVIA (PLURINATIONAL STATE OF)',
 'BONAIRE, SINT EUSTATIUS AND SABA',
 'BOSNIA AND HERZEGOVINA',
 'BOTSWANA',
 'BOUVET ISLAND',
 'BRAZIL',
 'BRITISH INDIAN OCEAN TERRITORY',
 'UNITED STATES MINOR OUTLYING ISLANDS',
 'VIRGIN ISLANDS (BRITISH)',
 'VIRGIN ISLANDS (U.S.)',
 'BRUNEI DARUSSALAM',
 'BULGARIA',
 'BURKINA FASO',
 'BURUNDI',
 'CAMBODIA',
 'CAMEROON',
 'CANADA',
 'CABO VERDE',
 'CAYMAN ISLANDS',
 'CENTRAL AFRICAN REPUBLIC',
 'CHAD',
 'CHILE',
 'CHINA',
 'CHRISTMAS ISLAND',
 'COCOS (KEELING) ISLANDS',
 'COLOMBIA',
 'COMOROS',
 'CONGO',
 'CONGO (DEMOCRATIC REPUBLIC OF THE)',
 'COOK ISLANDS',
 'COSTA RICA',
 'CROATIA',
 'CUBA',
 'CURAÇAO',
 'CYPRUS',
 'CZECH REPUBLIC',
 'DENMARK',
 'DJIBOUTI',
 'DOMINICA',
 'DOMINICAN REPUBLIC',
 'ECUADOR',
 'EGYPT',
 'EL SALVADOR',
 'EQUATORIAL GUINEA',
 'ERITREA',
 'ESTONIA',
 'ETHIOPIA',
 'FALKLAND ISLANDS (MALVINAS)',
 'FAROE ISLANDS',
 'FIJI',
 'FINLAND',
 'FRANCE',
 'FRENCH GUIANA',
 'FRENCH POLYNESIA',
 'FRENCH SOUTHERN TERRITORIES',
 'GABON',
 'GAMBIA',
 'GEORGIA',
 'GERMANY',
 'GHANA',
 'GIBRALTAR',
 'GREECE',
 'GREENLAND',
 'GRENADA',
 'GUADELOUPE',
 'GUAM',
 'GUATEMALA',
 'GUERNSEY',
 'GUINEA',
 'GUINEA-BISSAU',
 'GUYANA',
 'HAITI',
 'HEARD ISLAND AND MCDONALD ISLANDS',
 'HOLY SEE',
 'HONDURAS',
 'HONG KONG',
 'HUNGARY',
 'ICELAND',
 'INDIA',
 'INDONESIA',
 "CÔTE D'IVOIRE",
 'IRAN (ISLAMIC REPUBLIC OF)',
 'IRAQ',
 'IRELAND',
 'ISLE OF MAN',
 'ISRAEL',
 'ITALY',
 'JAMAICA',
 'JAPAN',
 'JERSEY',
 'JORDAN',
 'KAZAKHSTAN',
 'KENYA',
 'KIRIBATI',
 'KUWAIT',
 'KYRGYZSTAN',
 "LAO PEOPLE'S DEMOCRATIC REPUBLIC",
 'LATVIA',
 'LEBANON',
 'LESOTHO',
 'LIBERIA',
 'LIBYA',
 'LIECHTENSTEIN',
 'LITHUANIA',
 'LUXEMBOURG',
 'MACAO',
 'MACEDONIA (THE FORMER YUGOSLAV REPUBLIC OF)',
 'MADAGASCAR',
 'MALAWI',
 'MALAYSIA',
 'MALDIVES',
 'MALI',
 'MALTA',
 'MARSHALL ISLANDS',
 'MARTINIQUE',
 'MAURITANIA',
 'MAURITIUS',
 'MAYOTTE',
 'MEXICO',
 'MICRONESIA (FEDERATED STATES OF)',
 'MOLDOVA (REPUBLIC OF)',
 'MONACO',
 'MONGOLIA',
 'MONTENEGRO',
 'MONTSERRAT',
 'MOROCCO',
 'MOZAMBIQUE',
 'MYANMAR',
 'NAMIBIA',
 'NAURU',
 'NEPAL',
 'NETHERLANDS',
 'NEW CALEDONIA',
 'NEW ZEALAND',
 'NICARAGUA',
 'NIGER',
 'NIGERIA',
 'NIUE',
 'NORFOLK ISLAND',
 "KOREA (DEMOCRATIC PEOPLE'S REPUBLIC OF)",
 'NORTHERN MARIANA ISLANDS',
 'NORWAY',
 'OMAN',
 'PAKISTAN',
 'PALAU',
 'PALESTINE, STATE OF',
 'PANAMA',
 'PAPUA NEW GUINEA',
 'PARAGUAY',
 'PERU',
 'PHILIPPINES',
 'PITCAIRN',
 'POLAND',
 'PORTUGAL',
 'PUERTO RICO',
 'QATAR',
 'REPUBLIC OF KOSOVO',
 'RÉUNION',
 'ROMANIA',
 'RUSSIAN FEDERATION',
 'RWANDA',
 'SAINT BARTHÉLEMY',
 'SAINT HELENA, ASCENSION AND TRISTAN DA CUNHA',
 'SAINT KITTS AND NEVIS',
 'SAINT LUCIA',
 'SAINT MARTIN (FRENCH PART)',
 'SAINT PIERRE AND MIQUELON',
 'SAINT VINCENT AND THE GRENADINES',
 'SAMOA',
 'SAN MARINO',
 'SAO TOME AND PRINCIPE',
 'SAUDI ARABIA',
 'SENEGAL',
 'SERBIA',
 'SEYCHELLES',
 'SIERRA LEONE',
 'SINGAPORE',
 'SINT MAARTEN (DUTCH PART)',
 'SLOVAKIA',
 'SLOVENIA',
 'SOLOMON ISLANDS',
 'SOMALIA',
 'SOUTH AFRICA',
 'SOUTH GEORGIA AND THE SOUTH SANDWICH ISLANDS',
 'KOREA (REPUBLIC OF)',
 'SOUTH SUDAN',
 'SPAIN',
 'SRI LANKA',
 'SUDAN',
 'SURINAME',
 'SVALBARD AND JAN MAYEN',
 'SWAZILAND',
 'SWEDEN',
 'SWITZERLAND',
 'SYRIAN ARAB REPUBLIC',
 'TAIWAN',
 'TAJIKISTAN',
 'TANZANIA, UNITED REPUBLIC OF',
 'THAILAND',
 'TIMOR-LESTE',
 'TOGO',
 'TOKELAU',
 'TONGA',
 'TRINIDAD AND TOBAGO',
 'TUNISIA',
 'TURKEY',
 'TURKMENISTAN',
 'TURKS AND CAICOS ISLANDS',
 'TUVALU',
 'UGANDA',
 'UKRAINE',
 'UNITED ARAB EMIRATES',
 'UNITED KINGDOM OF GREAT BRITAIN AND NORTHERN IRELAND',
 'UNITED STATES OF AMERICA',
 'URUGUAY',
 'UZBEKISTAN',
 'VANUATU',
 'VENEZUELA (BOLIVARIAN REPUBLIC OF)',
 'VIET NAM',
 'WALLIS AND FUTUNA',
 'WESTERN SAHARA',
 'YEMEN',
 'ZAMBIA',
 'ZIMBABWE']

<b> 2. Use map to create new list by changing each number to its square in the numbers list</b>

In [38]:
number = [1,2,3,4,5]

squaredNum = list(map(lambda x:x**2, number))
squaredNum

[1, 4, 9, 16, 25]

<b> 3. Use map to change each name to uppercase in the names list </b>

In [49]:
names = ['Alex','Napoleon','PhucLong','SantaClaus','ElonMusk']

def upperCase(st):
    return st.upper()

upperName = list(map(upperCase,names))
upperName

['ALEX', 'NAPOLEON', 'PHUCLONG', 'SANTACLAUS', 'ELONMUSK']

<b> 4. Use filter to filter out countries containing 'land' </b>

In [54]:
countryLand = list(filter(lambda ctr:'land' in ctr ,countryName))
countryLand

['Åland Islands',
 'Bouvet Island',
 'United States Minor Outlying Islands',
 'Virgin Islands (British)',
 'Virgin Islands (U.S.)',
 'Cayman Islands',
 'Christmas Island',
 'Cocos (Keeling) Islands',
 'Cook Islands',
 'Falkland Islands (Malvinas)',
 'Faroe Islands',
 'Finland',
 'Greenland',
 'Heard Island and McDonald Islands',
 'Iceland',
 'Ireland',
 'Marshall Islands',
 'Netherlands',
 'New Zealand',
 'Norfolk Island',
 'Northern Mariana Islands',
 'Poland',
 'Solomon Islands',
 'South Georgia and the South Sandwich Islands',
 'Swaziland',
 'Switzerland',
 'Thailand',
 'Turks and Caicos Islands',
 'United Kingdom of Great Britain and Northern Ireland']

<b> 5. Use filter to filter out countries having exactly six characters </b>

In [55]:
countrySix = list(filter(lambda ctr: len(ctr)==6, countryName))
countrySix

['Angola',
 'Belize',
 'Bhutan',
 'Brazil',
 'Canada',
 'Cyprus',
 'France',
 'Gambia',
 'Greece',
 'Guinea',
 'Guyana',
 'Israel',
 'Jersey',
 'Jordan',
 'Kuwait',
 'Latvia',
 'Malawi',
 'Mexico',
 'Monaco',
 'Norway',
 'Panama',
 'Poland',
 'Rwanda',
 'Serbia',
 'Sweden',
 'Taiwan',
 'Turkey',
 'Tuvalu',
 'Uganda',
 'Zambia']

<b> 6. Use filter to filter out countries containing six letters and more in the country list</b>

In [57]:
countrySixM = list(filter(lambda ctr: len(ctr)>=6, countryName))
countrySixM

['Afghanistan',
 'Åland Islands',
 'Albania',
 'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Anguilla',
 'Antarctica',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Bermuda',
 'Bhutan',
 'Bolivia (Plurinational State of)',
 'Bonaire, Sint Eustatius and Saba',
 'Bosnia and Herzegovina',
 'Botswana',
 'Bouvet Island',
 'Brazil',
 'British Indian Ocean Territory',
 'United States Minor Outlying Islands',
 'Virgin Islands (British)',
 'Virgin Islands (U.S.)',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cabo Verde',
 'Cayman Islands',
 'Central African Republic',
 'Christmas Island',
 'Cocos (Keeling) Islands',
 'Colombia',
 'Comoros',
 'Congo (Democratic Republic of the)',
 'Cook Islands',
 'Costa Rica',
 'Croatia',
 'Curaçao',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Falkland Islands (Malvinas)',
 'Faroe Islands',
 'Finland',
 'France',
 'French Guiana',
 'French Polynesia',
 'French Southern Territories',
 'Gambia',
 'Georgia',
 'Germany',
 'Gibraltar',
 'Greece',
 'Greenland',
 'Grenada',
 'Guadeloupe',
 'Guatemala',
 'Guernsey',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Heard Island and McDonald Islands',
 'Holy See',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'Indonesia',
 "Côte d'Ivoire",
 'Iran (Islamic Republic of)',
 'Ireland',
 'Isle of Man',
 'Israel',
 'Jamaica',
 'Jersey',
 'Jordan',
 'Kazakhstan',
 'Kiribati',
 'Kuwait',
 'Kyrgyzstan',
 "Lao People's Democratic Republic",
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macedonia (the former Yugoslav Republic of)',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Marshall Islands',
 'Martinique',
 'Mauritania',
 'Mauritius',
 'Mayotte',
 'Mexico',
 'Micronesia (Federated States of)',
 'Moldova (Republic of)',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Montserrat',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Netherlands',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Nigeria',
 'Norfolk Island',
 "Korea (Democratic People's Republic of)",
 'Northern Mariana Islands',
 'Norway',
 'Pakistan',
 'Palestine, State of',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Philippines',
 'Pitcairn',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Republic of Kosovo',
 'Réunion',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Saint Barthélemy',
 'Saint Helena, Ascension and Tristan da Cunha',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Martin (French part)',
 'Saint Pierre and Miquelon',
 'Saint Vincent and the Grenadines',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Sint Maarten (Dutch part)',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Georgia and the South Sandwich Islands',
 'Korea (Republic of)',
 'South Sudan',
 'Sri Lanka',
 'Suriname',
 'Svalbard and Jan Mayen',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Taiwan',
 'Tajikistan',
 'Tanzania, United Republic of',
 'Thailand',
 'Timor-Leste',
 'Tokelau',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Turks and Caicos Islands',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom of Great Britain and Northern Ireland',
 'United States of America',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela (Bolivarian Republic of)',
 'Viet Nam',
 'Wallis and Futuna',
 'Western Sahara',
 'Zambia',
 'Zimbabwe']

<b> 7. Use filter to filter out countries starting with an 'E' </b>

In [58]:
countryE = list(filter(lambda ctr: ctr[0]=='E', countryName))
countryE

['Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia']

<b> 8. Chain two or more list iterators </b>

In [64]:
arr = [1,2,3,4,5]

'''
result = (map(lambda x: x*2, arr)
          | filter(lambda x: x>5, arr)
          | map(lambda x: x**2)
          | reduce(lambda x, y: x+y))

'''
result = reduce(
         lambda acc, x: acc+x,
         map(lambda x:x**2, filter(lambda x: x>5, map(lambda x:x*2,arr)))
        )
result

200

In [67]:
list(map(lambda x:x**2, filter(lambda x: x>5, map(lambda x:x*2,arr))))

[36, 64, 100]

In [68]:
36+64+100

200

<b> 9. Declare a function called get_string_lists which takes a list as a parameter and then returns a list containing only string items </b>

In [75]:
def get_string_lists(lst):
    res = list(filter(lambda st: isinstance(st,str) == True,lst))
    return res
    

string = ['string', 'take69','Noel2023',1020,1907,2608,'260805']
get_string_lists(string)

['string', 'take69', 'Noel2023', '260805']

<b> 10. Use reduce to sum all the numbers in the numbers list</b>

In [78]:
from functools import reduce

numbers = [1,2,3,4,5,6,7,8,9,10]
totalNum = reduce(lambda x,y: x+y, numbers)
totalNum

55

<b> 11. Use reduce to concatenate all the contries and to produce this sentence: Estonia, Finland, Sweden, Denmark, Norway, and Iceland are north European countries </b>

In [82]:
euroCountry = ['Estonia', 'Finland', 'Sweden','Denmark','Norway','Iceland']

euroCountr = reduce(lambda x,y: f"{x}, {y}", euroCountry[:-1]) + f", and {euroCountry[-1]} are north European countries"
euroCountr

'Estonia, Finland, Sweden, Denmark, Norway, and Iceland are north European countries'

<b>12. Declare a function called categorize_countries that returns a list of countries with some common pattern </b>

In [97]:
def categorize_countries(countryLst, pattern):
    categorCountry = list(filter(lambda ctr: pattern in ctr, countryLst))
    return categorCountry

categorize_countries(countryName,'Nam')

['Namibia', 'Viet Nam']

<b>13. Create a function returning a dictionary, where keys stand for starting letters of countries and values are the number of country names starting with that letter </b>

In [99]:
def countryDct(countryLst):
    letter_count = {}
    for country in countryLst:
        first_letter = country[0]
        letter_count[first_letter] = letter_count.get(first_letter,0) +1
        
    return letter_count

countryDct(countryName)

{'A': 15,
 'Å': 1,
 'B': 21,
 'U': 8,
 'V': 5,
 'C': 23,
 'D': 4,
 'E': 7,
 'F': 8,
 'G': 16,
 'H': 6,
 'I': 9,
 'J': 4,
 'K': 7,
 'L': 9,
 'M': 23,
 'N': 13,
 'O': 1,
 'P': 12,
 'Q': 1,
 'R': 5,
 'S': 33,
 'T': 14,
 'W': 2,
 'Y': 1,
 'Z': 2}

<b> 14. Declare a get_first_ten_countries function - it returns a list of first ten countries from the countries.js list in the data folder. </b>

In [106]:
def get_first_ten_countries(countryLst):
    return list(map(lambda x: x['name'],countryLst[:10]))

get_first_ten_countries(countries)

['Afghanistan',
 'Åland Islands',
 'Albania',
 'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Anguilla',
 'Antarctica',
 'Antigua and Barbuda']

<b>15. Declare a get_last_ten_countries function that returns the last ten countries in the countries list. </b>

In [108]:
def get_last_ten_countries(countryLst):
    return list(map(lambda x: x['name'],countryLst[-10:]))

get_last_ten_countries(countries)

['Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela (Bolivarian Republic of)',
 'Viet Nam',
 'Wallis and Futuna',
 'Western Sahara',
 'Yemen',
 'Zambia',
 'Zimbabwe']

<span style=color:Blue>
<h3> <b> End day </b></h3>
</span>