<div class="alert alert-block alert-info"> 
    <h3> Python Type Errors </h3>
    github.com/Asabeneh/30-Days-Of-Python/blob/master/15_Day_Python_type_errors
</div>

<h3> SysntaxError </h3>

<h4> 
     Example 1: SyntaxError
</h4>

In [1]:
print 'hello everyone'

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (2013973581.py, line 1)

### NameError

**Example 1: NameError**

In [2]:
print(error)

NameError: name 'error' is not defined

### IndexError

**Example 1: IndexError**

In [3]:
numbers = [1,2,3,4,5]
print(numbers[5])

IndexError: list index out of range

### ModuleNotFoundError

**Example 1: ModuleNotFoundError**

In [4]:
import maths

ModuleNotFoundError: No module named 'maths'

In [6]:
import math #we just have -math- module, not -maths-

### AttributeError

**Example 1: AttributeError**

In [10]:
import math
math.PI  #Try to call pi number from math

AttributeError: module 'math' has no attribute 'PI'

In [11]:
math.pi #PI doesn't exist in the module, we just have .pi

3.141592653589793

### KeyError

**Example 1: KeyError**

In [14]:
countries = {'name': 'Vietnam', 'capital': 'Hanoi', 'continent': 'Asia'}

countries['president'] #call data from key president

KeyError: 'president'

In [15]:
countries['name']

'Vietnam'

### TypeError

**Example 1: Type Error**

In [16]:
print(4 + '3') #the operation cannot be performed (number + string)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [17]:
print(4 + int('3'))

7

### ImportError

**Example 1: TypeError**

In [19]:
from math import power #power is not a module in math library - raise error

ImportError: cannot import name 'power' from 'math' (unknown location)

In [25]:
from math import pow
pow(2,5) #2^5, actually is module pow (power) from math

32.0

### ValueError

In [27]:
int('12a')  #something wrong with the formula is typed - raise error

ValueError: invalid literal for int() with base 10: '12a'

In [28]:
int('12')

12

### ZeroDivisionError

In [30]:
1/0 #Divide a number by zero ---> Raise error!!

ZeroDivisionError: division by zero

<span style=color:green> 
    End Day: There are some common mistakes in python, let's remember those by trying these. Hope us can fix errors whenever we get.
</span>