<div class="alert alert-block alert-info">
    <h3> Exception Handling </h3>
    https://github.com/Asabeneh/30-Days-Of-Python/blob/master/17_Day_Exception_handling/
</div>

<span style=color:green> 
    <b> Exception Handling</b>
</span>

```
try:
    code in this block if things go well
except:
    code in this block run if things go wrong
```

In [1]:
try:
    print(10+'5')
except:
    print('Something went wrong')

Something went wrong

In [28]:
print(date.today())

2023-12-26

In [17]:
from datetime import date

year = date.today().year
try: 
    name = input('Enter your name: ')
    year_born = int(input('Year you were born: '))
    age = year - year_born
    print(f"You are {name} and your age is {age}")
except:
    print('Something went wrong')

Enter your name: An
Year you were born: 2003
You are An and your age is 20

In [23]:
from datetime import date

print('Let\' try 2 times')

i = 1
while (i<=2):
    year = date.today().year
    try:
        name = input('Enter your name: ')
        year_born = int(input('Year you were born: '))
        age = year - year_born
        print(f"You are {name}. And your age is {age}")
    except TypeError:
        print('Type error occured')
    except ValueError:
        print("Value error occured")
    except ZeroDivisionError:
        print('zero division error occured')
    i+=1
    print()

Let' try 2 times
Enter your name: An
Year you were born: 2003
You are An . And your age is 20

Enter your name: An
Year you were born: 2003.
Value error occured

In [24]:
from datetime import date

year = date.today().year
try: 
    name = input('Enter your name: ')
    year_born = int(input('Year you were born: '))
    age = year - year_born
    print(f"You are {name} and your age is {age}")
except Exception as e:
    print(e)

Enter your name: An 20
Year you were born: 20.
invalid literal for int() with base 10: '20.'

<span style=color:green> 
    <b><h3>Packing and Unpacking Arguments in Python </h3></b>
</span>

<span style=color:green> 
    <b><h3> Unpacking </h3></b> 
</span> 

- **Unpacking Lists**

In [30]:
def sum_of_five_nums(a,b,c,d,e):
    return a+b+c+d+e

lst = [1,2,3,4,5]
print(sum_of_five_nums(lst)) #TypeError:: sum_of_five_nums() missing 4 required

TypeError: sum_of_five_nums() missing 4 required positional arguments: 'b', 'c', 'd', and 'e'

This function takes numbers (not a list) so it raises an error.  
Let's unpack/destructure the list

In [31]:
def sum_of_five_nums(a,b,c,d,e):
    return a+b+c+d+e

lst = [1,2,3,4,5]
print(sum_of_five_nums(*lst))

15

Unpacking in the range built-in function

In [36]:
numbers = range(2,7)   #normal call with separate argument
print(list(numbers))

args = [2,7]
numbers = range(*args) #Call with arguments unpacked from a list
print(numbers)

[2, 3, 4, 5, 6]
range(2, 7)

List or tuple can also be unpacked:

In [39]:
countries = ['America','Canada','Taiwan','Korea','Singapore','Vietnam']
Ame, Can, Tai, *rest = countries 

print(Ame, Can, Tai, rest)

America Canada Taiwan ['Korea', 'Singapore', 'Vietnam']

In [41]:
number = [1,2,3,4,5,6,7]
one, *middle, last = number
print(one, middle, last)

1 [2, 3, 4, 5, 6] 7

In [43]:
#Unpacking Dictionaries

def unpacking_person_info(name, country, city, age):
    return f'{name} lives in {country}, {city}. He is {age} years old.'

dct = {'name':'An', 'country':'Vietnam', 'city':'SaiGon', 'age':20}
print(unpacking_person_info(**dct))

An lives in Vietnam, SaiGon. He is 20 years old.